@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<script src="https://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=qvB2_AbNPpzduOyCGSOQ3nHk" type="text/javascript"></script>

<script>
    $('.modal-trigger').leanModal({
        ready: function () {
            var map = document.getElementById("googleMap");
            google.maps.event.trigger(map, 'resize');
        }
    });

        function initialize() {
            var mapProp = {
                center: new google.maps.LatLng(51.508742, -0.120850),
                zoom: 5,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        }
        google.maps.event.addDomListener(window, 'load', initialize);

        $(document).ready(function () {
            $('.modal-trigger').leanModal({
                ready: function () {
                    var map = document.getElementById("googleMap");
                    google.maps.event.trigger(map, 'resize');
                }
            });
        });
</script>


<body>
    <a href="#mapmodel" class="modal-trigger blue z-depth-1 waves-effect waves-light btn-floating">
        <i class="red material-icons">location_on</i>
    </a>

    <div id="mapmodel" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Test</h4>
            <div id="googleMap" style="width:500px;height:380px;"></div>
        </div>
        <div class="modal-footer">
            <a href="#" class="red modal-action modal-close waves-effect waves-green btn-flat">Got it</a>
        </div>
    </div>
</body>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>